html {
  background: linear-gradient(90deg, #40d3fc 0%, #7d89f8 100%);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.wl-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  border: 2px solid black;

}

.wl-movies, .wdl-movies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1%;
  align-items: end;
  border-bottom: 1px dotted black;
}

.wdl-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  border: 2px solid black;
}

.inputCntls {
  border: 2px solid black;
  border-radius:  8px;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(90deg, #7d89f8 0%, #40d3fc 100%);
  width: 80%;
}